apiVersion: tekton.dev/v1alpha1
kind: PipelineRun
metadata:
  name: orders-run
spec:
  serviceAccountName: front-svc-acc
  pipelineRef:
    name: orders-pipeline
  resources:
    - name: order-resource
      resourceRef:
        name: order-resource
